<!doctype html>
<html lang="en" class="h-100">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
</head>
<body class="d-flex flex-column h-100">

{% include 'layouts/partials/navbar.jinja2' %}

<div class="flex-shrink-0">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>

{% include 'layouts/partials/footer.jinja2' %}

</body>
</html>