{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            <ul class="list-unstyled">
                {% for message in messages %}
                    {% if message is not iterable %}
                        <li>{{ message }}</li>
                    {% else %}
                        {% for error in message %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}