{% extends "layouts/app.jinja2" %}

{% block title %}Categories{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<br />

<h1>#{{ category[0] }} - {{ category[1] }}</h1>

    <a href="{{ url_for('categories.delete', category_name=category[1]) }}" class="btn btn-danger">Remove</a>
    <a href="{{ url_for('items.create', category_name=category[1]) }}" class="btn btn-danger">Add Item</a>



<br />

{% endblock %}