{% extends "layouts/app.jinja2" %}

{% block title %}Categories{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <br/>

    <h1>Add An Item</h1>

    <form action="{{ url_for('items.create') }}" method="post">
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" name="category" id="category">
                {% for category in categories %}
                    <option value="{{ category[0] }}">{{ category[1] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Example Title">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description"></textarea>
        </div>

        {% include 'layouts/partials/errors.jinja2' %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <br/>

{% endblock %}